<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Téléchargement Sagem</title>
  <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Added viewport meta tag -->
</head>
<body>
  <div class="bg"></div>
  <div class="bg bg2"></div>
  <div class="bg bg3"></div>
  <div class="container">
    <!-- Title -->
    <h1 class="upload-title">Sélectionnez votre logiciel pour télécharger des fichiers</h1>
    
   <!-- File Upload Cards -->
   <div class="card-container">
    <div class="upload-card" id="upload-card-1">
      <img src="{{ url_for('static', filename='matlab-image.png') }}" alt="Matlab" class="card-image">
    </div>
    <div class="upload-card" id="upload-card-2">
      <img src="{{ url_for('static', filename='klippel-image.png') }}" alt="Klippel" class="card-image">
    </div>
  </div>
    
    <!-- File Upload Section -->
    <div class="uploadzone" id="upload-section" style="display: none;">
      <h1 class="upload-title" id="upload-title-matlab" style="display: none;">Veuillez télécharger 1 fichier pdf, 1 fichier log et 1 fichier txt.</h1>
      <h1 class="upload-title" id="upload-title-klippel" style="display: none;">Veuillez télécharger 1 fichier pdf, 1 fichier log et 2 fichiers kdbx.</h1>
      <div class="wrapper" id="drag-wrapper">
        <div class="go-back" id="go-back">&#8592;</div> 
        <div class="drag-area" id="drag-area">
          <form action="#" id="drag-form">
            <label for="file-input" class="visually-hidden">Choisissez des fichiers à télécharger</label> <!-- Added label -->
            <input class="file-input" type="file" id="file-input" name="file" hidden multiple accept=".kdbx,.pdf,.log" title="Choisissez des fichiers à télécharger"> <!-- Added title attribute -->
            <i class="fas fa-cloud-upload-alt" id="drag-cloud"></i>
            <p id="drag_text">Cliquez ou faites glisser et déposez le fichier pour télécharger</p>
          </form>
        </div>
        <section class="progress-area" id="progress-area"></section>
        <section class="uploaded-area" id="uploaded-area"></section>
        <div class="button-container">
          <button class="button-35" id="reset-btn">Réinitialiser</button>
          <button class="button-35" id="send-btn">Envoyer</button>
        </div>
      </div>
    </div>

    <!-- Popups -->
    <div id="snackbar"></div>
    <div id="popup" class="popup popup-info">
      <div class="popup-content">
        <p id="popup-message">Il doit y avoir exactement 2 fichiers KDBX, 1 fichier PDF et 1 fichier LOG.</p>
        <button class="button-35" id="popup-ok-btn">OK</button>
      </div>
    </div>
    <div id="success-popup" class="popup popup-success">
      <div class="popup-content">
        <p>Le type et le nombre de fichiers sont corrects !</p>
        <button class="button-35" id="success-ok-btn">OK</button>
      </div>
    </div>
    <div id="removed-popup" class="popup popup-info">
      <div class="popup-content">
        <p>Tous les fichiers ont été supprimés.</p>
        <button class="button-35" id="removed-ok-btn">OK</button>
      </div>
    </div>
    <div id="error-popup" class="popup popup-error">
      <div class="popup-content">
        <p id="error-popup-message">Une erreur s'est produite lors du téléchargement.</p>
        <button class="button-35" id="error-ok-btn">OK</button>
      </div>
    </div>
  </div>
  <script src="{{ url_for('static', filename='upload.js') }}"></script>
</body>
</html>